.cbx_label {
    position: relative;
    top: 1px;
    width: 27px;
    height: 27px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
   }
   .cbx{
    display: none;
   }
   
   .cbx_label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
   }
   
   .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
   }
   
   .cbx:checked ~ .cbx_label {
    border-color: transparent;
    background: #6871f1;
    animation: jelly 0.6s ease;
   }
   
   .cbx:checked ~ .cbx_label:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
   }
   
   .cntr {
    position: relative;
   }
   
   @keyframes jelly {
    from {
     transform: scale(1, 1);
    }
   
    30% {
     transform: scale(1.25, 0.75);
    }
   
    40% {
     transform: scale(0.75, 1.25);
    }
   
    50% {
     transform: scale(1.15, 0.85);
    }
   
    65% {
     transform: scale(0.95, 1.05);
    }
   
    75% {
     transform: scale(1.05, 0.95);
    }
   
    to {
     transform: scale(1, 1);
    }
   }
   
   .hidden-xs-up {
    display: none!important;
   }
   
   .sanpham_img{
    width: 97px;
    height: 70px;
    margin-right: 0.5rem;
    vertical-align: middle;
    border-radius: 0;
   }

   /* thead th{
    text-align: center;
   } */
   /* .table_content-sanpham td{
    text-align: center;
   } */

   .modal-admin_sanpham {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content-admin_sanpham {
    border-radius: 5px;
    background-color: #fefefe;
    margin: 15% auto;
    /* padding: 20px; */
    /* border: 1px solid #888; */
    width: 80%;
    position: absolute;
    top: -10%;
    right: 1%;
    width: 78%;
  }
  
  .modal-admin_sanpham-close {
    color: red;
    background-color: #5DB1E0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 8px;
  }
  
  .modal-admin_sanpham-close:hover,
  .modal-admin_sanpham-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content-admin_sanpham-header{
    background-color: #5DB1E0;
  }

  .modal-admin_sanpham-title{
    height: 54px;
    background-color: #5DB1E0;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 12px;
  }

  .modal-content-admin_sanpham-body{
    display: flex;

  }
  .modal-sanpham_input{
    display: flex;
    flex-direction: column;
  }
  .label-input-admin-sanpham{
    margin-top: 12px;
  }
  
  .modal-sanpham_input *{
    margin-left: 36px;
    margin-top: 12px;
  }
  .modal-sanpham_input input[type="text"]{
    height: 24px;
    border-radius: 5px;
    /* max-width: 300px; */
    /* min-width: 420px; */
  }
  .vertical-line {
    position: relative;
    width: 1px;
    height: auto;
    margin: 0 0 0 7%;
  }
  
  .vertical-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    border-left: 1px solid black;
  }
  .admin-sanpham-input-price{
    display: flex;
    margin-left: 0;
    margin-top: 0;
  }
  .admin-sanpham-input-price input[type="text"]{
    max-width: 300px;
  }
  .admin-sanpham-input-price label{
    
  }

  .admin-sanpham-input-price-in,
  .admin-sanpham-input-price-out{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #image-preview-admin-sanpham {
    margin-top: 12px;
    width: 300px;
    height: 300px;
    background-size: contain !important;
    background-position: center;
    background-repeat: no-repeat;
    background: url("../../img/default-img.png");

  }
  .modal-sanpham_img-btn{
    display: flex;
    flex-direction: column;
  }

  .modal-sanpham_img-btn *{
    margin-left: 36px;
  }
  .modal-sanpham_img-btn{
    margin: 16px auto;
  }
  .modal-sanpham-img-title{
    margin: 12px 0 0 36px;
  }
  .modal-sanpham-btn{
    max-width: 100px;
  }
  .modal-admin_sanpham .modal-sanpham_img-btn .modal-sanpham-btn{
    max-width: 100px;
    background-color: rgba(61, 128, 229, 1);
    margin-top: 12px;
  }

  .modal-sanpham_img-btn .modal-sanpham-group-btn .btn-admin-sanpham-huy{
    background-color: white;
  }

  .modal-sanpham_img-btn .modal-sanpham-group-btn .btn-admin-sanpham-huy:hover{
    color: black ;
    background-color: red;
  }
  